.App {
	margin: 0;
}
#main {
	min-height: 500px;
}
#main.loading {
	opacity: 0.25;
	transition: opacity 200ms;
	transition-delay: 200ms;
}
nav .active {
	color: red;
}
nav .pending {
	::before {
		content: '...';
	}
}
nav li {
	display: inline;
	margin: 0 5px;
}
